deps
logs
pids
ssl

*__pycache__*
*.log
*.db
*.db-journal
*.db-shm
*.db-wal
*.pid
*.seed
*.uuid
*.conf
*.DS_Store

.idea
.cloud
.storage
.config*
.spotify-token-cache

secrets.yaml
known_devices.yaml
