deps
logs
pids
ssl

*__pycache__*
*.log
*.db
*.db-journal
*.db-shm
*.db-wal
*.pid
*.seed
*.uuid
*.conf
*.DS_Store

.idea
.cloud
.storage
.config*
.spotify-token-cache
.HA_VERSION

secrets.yaml
known_devices.yaml
google-service-account.json

custom_components/
www/community/
blueprints/
