homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 40
  unit_system: metric
  time_zone: Europe/Oslo
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.0.0/24
        - fd00::/8
  whitelist_external_dirs:
    - /home/homeassistant/camera
  customize: !include_dir_merge_named customize

http:
  base_url: !secret base_url
  ssl_certificate: !secret ssl_cert
  ssl_key: !secret ssl_key
  ip_ban_enabled: true
  login_attempts_threshold: 10

#lovelace:
#  mode: yaml

frontend:
  themes: !include_dir_merge_named themes

config:
discovery:
updater:
system_health:
sun:

recorder: !include recorder.yaml
history: !include history.yaml
logbook: !include logbook.yaml

sensor: !include_dir_merge_list sensors
automation: !include_dir_merge_list automations
group: !include group.yaml
script: !include script.yaml
media_player: !include media.yaml
google_assistant: !include google.yaml
input_number: !include input_number.yaml
input_boolean: !include input_boolean.yaml
input_select: !include input_select.yaml
rest_command: !include rest_command.yaml
climate: !include climate.yaml

tellduslive:
  host: 192.168.0.10
  scan_interval: 20

netatmo:
  api_key: !secret netatmo_api_key
  secret_key: !secret netatmo_secret_key
  username: !secret netatmo_username
  password: !secret netatmo_password
  discovery: false

camera:
  - platform: rpi_camera
    image_width: 1024
    image_height: 768
    image_quality: 25
    image_rotation: 90
    timelapse: 1000

vacuum:
  - platform: xiaomi_miio
    host: 192.168.0.34
    token: !secret xiaomi_token

weather:
  - platform: met

air_quality:
  - platform: norway_air

fastdotcom:
  scan_interval:
    minutes: 60

timer:
  bedroom_charger:
    name: Lader (Soverom)
    duration: '01:30:00'
    icon: mdi:battery-charging-70

binary_sensor:
  - platform: workday
    country: 'NO'

device_tracker:
  - platform: bluetooth_tracker
  - platform: nmap_tracker
    hosts: 192.168.0.0/24
    home_interval: 10
    scan_options: " --privileged -sP "

notify:
  - name: browser
    platform: html5
    gcm_api_key: !secret gcm_api_key
    gcm_sender_id: !secret gcm_sender_id
  - name: file
    platform: file
    filename: notifications.log
  - name: slack
    platform: slack
    api_key: !secret slack_token
    default_channel: '#general'
  - name: default
    platform: group
    services:
      - service: browser
      - service: file
      - service: slack

tts:
  - platform: google_translate
